.row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.cell {
  display: flex;
  padding: 0.5rem;
  width: 20rem;
  margin-left: 0.5rem;
}

.highlighter {
  background-color: #d6d6d6;
  font-weight: 700;
}
